<div class="flex justify-center mt-8">
    <a href="/host/add-home" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:scale-105">
      Add Home
    </a>
  </div>